@font-face {
	font-family: 'Work Sans';
	font-weight: 700;
	src: local('Work Sans'), url(../../fonts/Work_Sans/static/WorkSans-Italic.ttf), format('truetype');
	
}

//*===============================================
// font-family: Verdana,Geneva,sans-serif;

// font-family: Salvo Sans Black,sans-serif;

// font-family: Salvo Sans,sans-serif;
// font-weight: 700;




//*===============================================