
//* ========================================| Work Sans |========================================

@font-face {
	font-family: 'Work Sans';
	src: local('Work Sans'), url(../fonts/Work_Sans/static/WorkSans-Regular.ttf);
}

@font-face {
	font-family: 'Work Sans, Medium';
	src: local('Work Sans'), url(../fonts/Work_Sans/static/WorkSans-Medium.ttf);
}

@font-face {
	font-family: 'Work Sans, Italic';
	font-style: italic;
	src: local('Work Sans'), url(../fonts/Work_Sans/static/WorkSans-Italic.ttf);
}

@font-face {
	font-family: 'Work Sans, Bold';
	font-weight: bold;
	src: local('Work Sans'), url(../fonts/Work_Sans/static/WorkSans-Bold.ttf);
}

@font-face {
	font-family: 'Work Sans, Black';
	font-weight: 700;
	src: local('Work Sans'), url(../fonts/Work_Sans/static/WorkSans-Black.ttf);
} //TODO: a verifier selon le style


//* ========================================| Salvo Sans |========================================

@font-face {
	font-family: 'Salvo Sans';
	src: local('Salvo Sans'), url(../fonts/SalvoSansRegular.woff);
}

@font-face {
	font-family: 'Salvo Sans, Light';
	src: local('Salvo Sans'), url(../fonts/SalvoSansLight.woff);
}

@font-face {
	font-family: 'Salvo Sans, Black';
	src: local('Salvo Sans'), url(../fonts/SalvoSansBlack.woff);
}


//* =======================================| Harriet Text |=======================================

//! PAID LICENSE

//* ========================================|   Autre    |========================================


