// Remove-px
@function remove-px($target) {
	@if not unitless($target) {
		@return $target / 1px ;
	} @else {
		@return $target;
	}
}

// Calculate REM
// * sert à la conversion des px en rem et etc (en enlevant px du code css)
@function rem($size) {
	$values: ();
	@if type-of($size) == list {
		@each $current in $size {
		$values: append($values, remove-px($current) / 12 * 1rem);
		}
	} @else {
		$values: remove-px($size) / 16 * 1rem;
	}
	@return $values;
}