// Breakpoints
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;


// Colors
$primary: #000; // TODO: to change
$secondary: #000; // TODO: to change

$info: #000; // TODO: to change
$warning: #000; // TODO: to change
$danger: #000; // TODO: to change

// Fonts
$font-base-family: 'Montserrat'; // TODO: to change if different
$font-base-size: rem(16px);
