// Breakpoints
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;


// Colors
$primary: #70cacb; // TODO: to change
$secondary: #0b4652; // TODO: to change
$tertiary: #ee8659;

$info: CornflowerBlue; // TODO: to change
$warning: DarkOrange; // TODO: to change
$error: FireBrick; // TODO: to change

// Fonts
$font-base-family: 'Montserrat'; // TODO: to change if different
$font-base-size: rem(16px);
