.offer {
	font-family: 'Salvo Sans'; //? pas capable d<avoir le meme bold
	font-size: 1rem;
	background-color: #70cacb;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
	letter-spacing: .5px;

	&__texte {
		margin: 0;
		padding-right: 10px;
		color: white;
		text-align: center;
	}
}

.button {

	&__coinCarre {
		font-family: 'Salvo Sans';
		font-size: 16px;
		margin: 0;
		color: #fff;
		background-color: #ff634d;
		border: 6px solid #ff634d;
		padding: 8px;
		border-radius: 0px;
		text-decoration: none;
	}
}