.topBar {
	background-color: #124651;

	&__box {
		width: 100%;
		padding: 6px 0;
		letter-spacing: .5px;
		font-size: 0.8rem;
	}

	&__pdg {
		display: flex;
		justify-content: center;
	}

	&__texte {
		margin: 0;
		margin-right: 5px;
		color: white;
	}

	&__note {
		color: white;
	}	
}
