@import "../../../assets/scss/utils.scss";

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 5px 15px;
    background: white;
   

    &__logo {
        display: inline-flex;
        margin: 0;
        max-width: 140px;

        & img {
            width: 100%;
        }
    }

    &__burger-menu {
        display: block;
        cursor: pointer;
        margin-left: auto;
        margin-right: 10px;
        transition: 1s all; // Pour que tu puisse tester la transition

        // Desktop
        @include media($sm) {
            display: none;
        }

        &--open {
            transform: rotate(90deg); // Pour que tu puisse tester la transition LOL
        }
    }

    &__burger-menu-lines {
        color: white;
        line-height: 0.5;
    }

    &__menu {
        // display: none;
        position: fixed;
        right: -280px;
        background-color: white;
        width: 280px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        letter-spacing: .1em;

        // Desktop
        @include media($sm) {
            display: block;
            position: relative;
            right: initial;
            background-color: transparent;
            width: auto;
            transition: 0s all;
        }

        &--open {
            right: 0px;
        }
    }

    &__link {
        transition: 0.5s all; // Pour que tu puisse tester la transition
        font-family: Work Sans,sans-serif!important;
        color:#70cacb!important;
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
        position: relative;
        display: flex;        

        &:hover {
            color: red;
        }

        // Desktop
        @include media($sm) {
            display: inline-flex;
        // @media (min-width: 768px)
        }
    }
}

